.pagination__root > ul {
  @apply inline-flex items-center justify-between gap-2;
}
.pagination__item {
  @apply appearance-none inline-flex justify-center items-center h-10 w-auto bg-stone-900 text-white text-base leading-[0] transition-[250ms] duration-[background-color,250ms] ease-[color,250ms] delay-[border-color] cursor-pointer tabular-nums border border-stone-600 px-4 py-0 rounded-md border-solid hover:bg-stone-800 focus-visible:outline-offset-2;
  outline: none;
}
.pagination__ellipsis {
  @apply inline-flex justify-center items-center h-10 w-auto bg-white text-zinc-800 text-base leading-[0] cursor-default border border-stone-600 px-4 py-0 rounded-md border-solid;
  outline: none;
}
.pagination__item[aria-current="page"] {
  @apply bg-stone-700;
}
.pagination__item:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
}
