  /* ======== */
  /* = Pane = */
  /* ======== */
:root {
  --pane-border-width: 3px;
}

  .pane {
    background: white;
    border: var(--pane-border-width) solid black;
    border-radius: 6px;
    width: 200px;
    margin: 0;
    padding: 2rem 0 1rem;
    position: absolute;
    font-size: 8px;
    color: black;
    pointer-events: auto;
  }

  .hidden {
    display: none;
  }

  .invisible {
    visibility: hidden;
  }

  .pane-title {
    color: white;
    font-size: 12px;
    line-height: 15px;
    padding: var(--pane-border-width) 6px;
    background-color: var(--blue-900);
    border-bottom: var(--pane-border-width) solid black;
    border-top-left-radius: var(--pane-border-width);
    border-top-right-radius: var(--pane-border-width);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }





/* --------------------------------------------------- */
#pane-scene-items {
  width: 220px;
  height: 45%;
  right: 0;
}

#pane-scene-items .scene-items-scrollable {
  max-height: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#pane-scene-items .scene-item.selected:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100px;
  right: 0;
  bottom: 0;
  background-color: salmon;
}

#pane-scene-items .scene-item {
  position: relative;
  padding: 2px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

#pane-scene-items .scene-item .scene-item-collapse {
  color: red;
  font-size: 18px;
}

.scene-item-children .scene-item .scene-item-collapse {
  display: none;
}


#pane-scene-items .scene-item {
  cursor: pointer;
}

#pane-scene-items .scene-item .scene-item-checkbox {
  border: 1px solid black;
  border-radius: 2px;
  width: 16px; /* Must match .scene-item height - padding */
  margin-right: 0.5rem;
  cursor: pointer;
}

#pane-scene-items .scene-item .scene-item-type-icon {
  font-size: 20px;
  margin-right: 4px;
  cursor: pointer;
}

#pane-scene-items .scene-item .scene-item-name {
  flex-grow: 1;
  /* display: flex; */
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pane-scene-items .scene-item-wrapper .scene-item-children:not(.scene-item-children:empty) {
  padding-left: 42px;
  position: relative;
}

.scene-item-children:not(.scene-item-children:empty):after {
  content: '';
  display: inline-block;
  border-left: 1px dotted gray;
  position: absolute;
  left: 29px;
  top: 0;
  height: calc(100% - 13px)
}

#pane-scene-items .scene-item-children .scene-item:before {
  content: '';
  position: absolute;
  border-top: 1px dotted gray;
  width: 10px;
  top: 12px;
  left: -13px;
}
