@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --blue-400: #7893cc;
  --blue-700: #2651ad;
  --blue-800: #123684;
  --blue-900: #01256E;

  --grey-400: #F7F7F7;
  --grey-500: #E8E8E8;
  --grey-600: #A8A8A8;
  --grey-700: #666666;
  --grey-900: #252525;

  --green: var(--blue-900);
  --red: #D5365E;
  
}

body.darkmode {
  --green: var(--blue-700);
}

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.bolder {
  font-weight: bolder;
}

/* =============== */
/* = Grid System = */
/* =============== */
.col .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row.last {
  margin-bottom: 0;
}

.col.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col-1 {
  width: 8.3333333333%;
}

.row .col-2 {
  width: 16.6666666667%;
}

.row .col-3 {
  width: 25%;
}

.row .col-4 {
  width: 33.3333333333%;
}

.row .col-5 {
  width: 41.6666666667%;
}

.row .col-6 {
  width: 50%;
}

.row .col-7 {
  width: 58.3333333333%;
}

.row .col-8 {
  width: 66.6666666667%;
}

.row .col-9 {
  width: 75%;
}

.row .col-10 {
  width: 83.3333333333%;
}

.row .col-11 {
  width: 91.6666666667%;
}

.row .col-12 {
  width: 100%;
}

/*****************************/
/** MATERIALIZE RADIO STYLES**/
/*****************************/
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 0.7rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after,
[type="radio"]:checked + span:before,
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border-radius: 50%;
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked) + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + span:before {
  border: 2px solid transparent;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid var(--green);
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: var(--green);
}

[type="radio"]:checked + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].with-gap:checked + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

/* Focused styles */
[type="radio"].tabbed:focus + span:before {
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

[type="radio"].with-gap:disabled:checked + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + span:before,
[type="radio"]:disabled:checked + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled + span {
  color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:checked + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}

.range-field {
  position: relative;
}

input[type=range],
input[type=range] + .thumb {
  cursor: pointer;
}

input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range] + .thumb {
  position: absolute;
  top: 10px;
  left: 0;
  border: none;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: var(--green);
  margin-left: 7px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
  display: block;
  width: 30px;
  text-align: center;
  color: var(--green);
  font-size: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=range] + .thumb.active {
  border-radius: 50% 50% 50% 0;
}

input[type=range] + .thumb.active .value {
  color: #fff;
  margin-left: -1px;
  margin-top: 8px;
  font-size: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--green);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  -webkit-appearance: none;
  background-color: var(--green);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin: -5px 0 0 0;
}

.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
}

input[type=range]::-moz-range-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-moz-focus-inner {
  border: 0;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--green);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  margin-top: -5px;
}

input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.keyboard-focused input[type=range]:focus:not(.active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range]::-ms-track {
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--green);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

/* ========================= */
/* MATERIALIZE SWITCH STYLES */
/* ========================= */
.switch, .switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.switch label {
  cursor: pointer
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: var(--blue-400);
}

.switch label input[type=checkbox]:checked+.lever:before,
.switch label input[type=checkbox]:checked+.lever:after {
  left: 18px
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: var(--blue-900)
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  vertical-align: middle;
  margin: 0 16px
}

.switch label .lever:before,
.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background-color .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background-color .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background-color .3s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.3s ease, background-color .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease
}

.switch label .lever:before {
  background-color: rgba(61, 73, 182, 0.15)
}

.switch label .lever:after {
  background-color: #F1F1F1;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}

input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15)
}

input[type=checkbox]:not(:disabled)~.lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus~.lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08)
}

.switch input[type=checkbox][disabled]+.lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12)
}

.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
  background-color: #949494
}

/* ======================== */
/* = Floating Label Input = */
/* ======================== */

.form-group {
  position: relative;
  margin: 0 0 20px 0;
}

.form-text-input {
  /* Careful when changing any values, highly coupled to floating-label */
  border: 1px solid var(--grey-600);
  border-radius: 4px;
  padding: 5px 6px;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  height: 40px; /* Depends on the following: line-height 20px + padding 2x5px + border 2x2px (when focused) = 34px */
  outline: none;
  transition: all 0.1s;
}

.darkmode .form-text-input {
  border: 1px solid var(--grey-600);
  background-color: var(--grey-500);
}

.form-text-input:not(textarea) {
  text-overflow: ellipsis;
}

.form-text-input:hover {
  border: 1px solid var(--grey-700);
}

.form-text-input:focus {
  padding-left: 5px; /* make it -1px than it was to prevent text wiggling left/right when border-width changes */
  border: 2px solid var(--blue-900);
}

.form-group .floating-label {
  /* Careful when changing any values, highly coupled to form-text-input */
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px; /* line-height 14px + padding 2x10px = 34px (needs to equal height of form-text-input)  */
  padding: 13px 5px;
  margin: 0;
  pointer-events: none;
  color: var(--grey-600);
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s;
}

.form-text-input:focus + .floating-label,
.form-text-input:not([value=""]) + .floating-label {
  background-color: white;
  /* y-axis: height of form-text-input / 2 = 17px. That is the amount this label needs to move up. since padding-top gets removed, only 7px are left */
  /* x-axis: depends on padding-left of form-text-input + padding overwrite below */
  transform: translateY(-7px) translateX(5px);
  padding: 0 2.5px;
  font-size: 10px;
  font-weight: 500;
}

.darkmode .form-text-input:focus + .floating-label,
.darkmode .form-text-input:not([value=""]) + .floating-label {
  background-color: var(--grey-700);
  color: var(--grey-400);
}

.form-text-input:not([value=""]):hover + .floating-label {
  color: var(--grey-700);
}

.darkmode .form-text-input:not([value=""]):hover + .floating-label {
  color: white;
}

/* Floating label not updating with autocomplete */
.form-text-input:-webkit-autofill + .floating-label {
  background-color: white;
  transform: translateY(-7px) translateX(5px);
  padding: 0 2.5px;
  font-size: 10px;
  font-weight: 500;
  -webkit-transition: none;
  transition: none;
}

.darkmode .form-text-input:-webkit-autofill + .floating-label {
  color: var(--grey-700);
}

.form-text-input:focus + .floating-label {
  color: var(--blue-900) !important;
}

.darkmode .form-text-input:focus + .floating-label {
  color: white !important;
}

.form-group .floating-label::after {
  content: attr(data-necessity);
}

/* ========================= */
/* = Auto hiding scrollbar = */
/* ========================= */
.scrollbar {
  overflow-y: auto;
  max-height: 700px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: var(--grey-400);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: var(--grey-400);
}

.scrollbar {
  /* Auto hiding scrollbar based on: https://css-tricks.com/scrollbars-on-hover/ */
  /* Custom scrollbar templates: https://codepen.io/devstreak/pen/dMYgeO */
  mask-image: linear-gradient(to top, transparent, black),
  linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  /*scrollbar-width: 8px;*/
}

.scrollbar:hover {
  -webkit-mask-position: left top;
  mask-position: left top;
}

.scrollbar::-webkit-scrollbar-thumb {
  cursor: grab;
  border-radius: 4px;
  background-color: var(--grey-600);
}
