.panel {
  background: var(--panel-background);
  border: 3px solid var(--panel-border-color);
  border-radius: 6px;
  width: 700px;
  margin: 0;
  padding: 3rem 1rem 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  color: var(--panel-text-color);
  max-width: 100vw;
  max-height: 100vh;
}

.hidden {
  display: none;
}

.panel-title {
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 4px 8px;
  background-color: var(--blue-900);
  border: 3px solid black;
  border-radius: 5px;
  margin: 0 auto;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.panel-close {
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  right: -16px;
  top: -16px;
  background: var(--red);
  font-size: 24px;
  color: white;
  cursor: pointer;
}
