#game-ui {
  display: block !important;
  /* visibility: visible !important; */
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  
.game-ui-item {
  position: absolute;
}

.game-ui-item .label {
  margin-bottom: 0.4rem;
  font-size: 12px;
  color: var(--grey-600);
}

.game-ui-item.distance {
  left: var(--game-ui-padding);
  top: var(--game-ui-padding);
}

.game-ui-item.combo {
  left: 50%;
  top: var(--game-ui-padding);
  transform: translateX(-50%);
  text-align: center;
}

.game-ui-item.combo .combo-leeway-circle {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: conic-gradient(white 0deg, transparent 0deg);
  background-size: 100% 100%;
  background-position: center;
}

.game-ui-item.score {
  right: var(--game-ui-padding);
  top: var(--game-ui-padding);
  text-align: right;
}
