:root {
  --panel-background: white;
  --panel-border-color: black;
  --panel-text-color: var(--grey-900);
  --title-color: black;
  --score-total-color: black;
  --level-item-background: #ffd6cc;
  --level-item-number-color: var(--grey-700);
  --level-item-name-color: black;
  --form-text-input-background: var(--panel-background);
}

body.darkmode {
  --panel-background: var(--grey-900);
  --panel-border-color: var(--grey-700);
  --panel-text-color: var(--grey-500);
  --title-color: var(--grey-500);
  --score-total-color: var(--grey-500);
  --level-item-background: var(--grey-700);
  --level-item-number-color: var(--grey-600);
  --level-item-name-color: var(--grey-500);
  --form-text-input-background: var(--panel-background);
  --form-text-input-background-empty: var(--grey-500);
  --form-text-input-color: var(--panel-background);
}

#root-ui {
  display: block !important;
}
