#pause-game-icon {
  color: var(--grey-600);
  position: absolute;
  right: var(--game-ui-padding);
  bottom: var(--game-ui-padding);
  font-size: 30px;
  cursor: pointer;
}

#how-to-play-icon {
  color: var(--grey-600);
  position: absolute;
  left: var(--game-ui-padding);
  bottom: var(--game-ui-padding);
  font-size: 30px;
  cursor: pointer;
}

#panel-pause-menu {
  width: 500px;
}
